.s1{
    background-color: rgb(31, 4, 9);
    background: url('images/pic1.jpg');
    background-size: cover;
}
h1{
    color: white;
    font-weight: bolder;
    text-align: center;

    
}
h1>span{
    box-shadow: rgb(4, 4, 17) 0px 7px 12px;
    padding: 12%;
    text-shadow: rgb(4, 4, 17) 0px 6px 14px;
}
.s2{
    background-color: rgb(31, 4, 9);
    background: url('images/pic3.jpg');
    background-size: cover;
}

body{
    background-color: rgb(25, 9, 41);
}

.slide1{
    
    padding: 0% 0% 0% 7%;
    border-radius: 230px;
}
.internal1{
    background: url('images/pic5.jpg'); 
    background-size: 50%;
    opacity: 0.78;
    min-width: 77% !important;
    min-height: 88% !important;
    background-repeat: no-repeat;
    border-radius: 230px;
}

.slide2{
    padding: 0% 0% 0% 7%;
}

.internal2{
    background: url('images/pic6.jpg'); 
    background-size: 50%;
    background-repeat: no-repeat;
    opacity: 0.78;
    min-width: 77% !important;
    min-height: 88% !important;
    border-radius: 230px;
}

.slide3{
    padding: 0% 0% 0% 7%;
}
.internal3{
    background: url('images/pic2.jpg'); 
    background-size: 50%;
    opacity: 0.78;
    min-width: 77% !important;
    min-height: 88% !important;
    background-repeat: no-repeat;
    border-radius: 230px;
}

.slide4{
    padding: 0% 0% 0% 0%;
}

.internal4{
    background: url('images/pic10.jpg'); 
    background-size: 50%;
    opacity: 0.78;
    min-width: 77% !important;
    min-height: 88% !important;
    background-repeat: no-repeat;
}

.fp-slidesNav>ul>li>a>span{
    background: white !important;
}

#fp-nav>ul>li>a>span{
    background: white !important;
}

.one{
    color:white;
    font-size: larger;
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top:5%;
    left:20%;
    font-size: xx-large;
    z-index: 100;
    margin-left: 12%;
    text-shadow: rgb(4, 4, 17) 0px 6px 14px;
}

.s2{
    position: relative;
}

.s3{
    background-color: rgb(31, 4, 9);
    background: url('images/pic7.jpg');
    background-size: cover;
}

#final{
    left: -2%;
}